* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f5f7fa;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.coming-soon-container {
    background-color: #fff;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.coming-soon-container h1 {
    font-size: 3rem;
    color: #17a2b8;
    margin-bottom: 20px;
}

.coming-soon-container p {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 40px;
}

.btn-go-back {
    padding: 10px 20px;
    background-color: #17a2b8;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}

.btn-go-back:hover {
    background-color: #138496;
}
